*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

div{
    display: flex;
    margin-top: 20px;
    gap: 75px;
}

.current-menu{
    display: flex;
}

#container{
    width: 1500px;
    height:750px;
    margin-left: auto;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 30%);
}

.card{
    border: 1px solid #000;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card p{
    max-width: 98%;
    overflow-wrap: break-word;
    text-align: center;
    display: grid;
    flex-wrap: wrap;
}

#price{
    width: 500px;
    height: 25px;
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

#description{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3:hover{
    cursor: pointer;
}
