*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "chili","sans-serif";
}
@font-face {
    font-family: "chili";
    src: url("../assets/fonts/chilispepper.ttf");
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px;
}
header img{
    width: 80px;
    height: 35px;
}
a h3{
    color: black;
    text-decoration: none;
    display: contents;
}
.right{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#cart{
    background: none;
    border: none;

}
br{
    height: 5px;
    width: 100%;
    display: inline;
}
